.container{
    position:relative;
    height: 100%;
}
/*page1*/
.page1{
    background: url('../images/p1/bg1.png') 0 0 no-repeat;
    background-size:cover;
}
.page1 .liner{
    background: url('../images/p1/liner-1.png') 0 0 no-repeat;
    background-size:cover;
    position:absolute;
    top:80%;
    left:0;
    height:15%;
    width:100%;
}
.page1 .liner1{
    background: url('../images/p1/liner-1.png') 0 0 no-repeat;
    background-size:cover;
}
.page1 .liner2{
    background: #0a173a;
}
.page1 .intro{
    position:absolute;
    top:100%;
    left:0;
    height:auto;
    width:100%;
    text-align: center;
}
.page1 .intro img{
    display: block;
    margin:0 auto;
}
.page1 .intro .int{
    height: 40%;
    width:6%;
}
.page1 .intro .tp{
    height: 45%;
    width: 50%;
    padding: 20px;
}
.footer{
    position: absolute;
    bottom: 5%;
    left:0;
    margin-top: 10px;
    width:100%;
    text-align: center;
}
.arrow{
    height: 5%;
    width: 10%;
    display: none;
    margin: 0 auto;
}
.page1 .title-top{
    background:url('../images/p1/subintro-1.png') 50% 50% no-repeat;
    background-size:contain;
    height:0;
}
.page1 .text{
    position:absolute;
    top:15%;
    left:0;
    height:35%;
    width:100%;
    margin-bottom:10px;
}
.page1 .title-mid{
    height:70%;
    margin:15px 0;
    text-align: center;
}
.page1 .title-mid img{
    height: 100%;
    animation:title1 1s;
}
@keyframes title1{
    from{
        transform: scale(0.1);opacity:0
    }
    to{
        transform: scale(1);opacity:1
    }
}
@-webkit-keyframes title1{
    from{
        transform: scale(0.1);opacity:0
    }
    to{
        transform: scale(1);opacity:1
    }
}
.page1 .title-bot{
    background: url('../images/p1/subtitle-1.png') 50% 50% no-repeat;
    background-size:contain;
    height:0;
}
.arrow{
    animation:nextPage 1s infinite;
}
@keyframes nextPage{
    from{
        transform: scale(0.5);
        opacity: 0;
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}
@-webkit-keyframes nextPage{
    from{
        transform: scale(0.5);
        opacity: 0;
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}
/*page2*/
.page2{
    background: url('../images/p2/bg-2.png') 0 0 no-repeat;
    background-size:cover;
}
.page2 .title{
    background: url('../images/p2/title.png') center right no-repeat;
    background-size:contain;
    width: 100%;
    height: 15%;
    top:13%;
    left: 0;
    position: absolute;    
}
.page2 .text{
  position: absolute;
  width: 100%;
  height: 50%;
  left: 0;
  bottom: 15%;  
  display: none;
}
.page2 .textTop img,
.page2 .textMid img,
.page2 .textBot img{
    height: 23%;
    margin-top: 3%;
    position: relative;
}
.page2 .textTop,
.page2 .textBot{
    text-align: left;
    padding: 0 20px;
}
.page2 .textMid{
    text-align: right;
    padding: 0 20px;
}
.page2 .textTop img{
    width: 60%;
}
.page2 .textMid img{
    width: 60%;
    
}
.page2 .textBot img{
    width: 60%;
    
}
/*page3*/
.page3{
    background: url('../images/p3/bg-3.png') 0 0 no-repeat;
    background-size:cover;
}
.page3 .title{
    background: url('../images/p3/title.png') center center no-repeat;
    background-size:contain;
    width: 100%;
    height: 15%;
    top:13%;
    left: 0;
    position: absolute;    
}
/*page5*/
.page5{
    background: url('../images/p5/bg-5.png') 0 0 no-repeat;
    background-size:cover;
}
.page5 .title{
    background: url('../images/p5/title.png') center center no-repeat;
    background-size:contain;
    width: 100%;
    height: 15%;
    top:13%;
    left: 0;
    position: absolute;    
}
.page5 .text{
  position: absolute;
  width: 100%;
  height: 50%;
  left: 0;
  bottom: 15%;
  text-align: center;  
  display: none;
}
.page5 .textTop img,
.page5 .textMid img,
.page5 .textBot img,
.page5 .textEnd img{
    height: 23%;
    margin-top: 3%;
    position: relative;
}
.page5 .textTop img{
    width: 80%;
}
.page5 .textMid img{
    width: 80%;
}
.page5 .textBot img{
    width: 80%;
}
.page5 .textEnd img{
    width: 47%;
}
@keyframes zdZoomIn{
    from{
        /*opacity: 0;*/
        transform: scale(0.6)
    }
    to{
        /*opacity: 1;*/
        transform: scale(1)
    }
}
/*page8*/
.page8{
    background: url('../images/p8/bg-8.png') 0 0 no-repeat;
    background-size:cover;
}
.page8 .title{
    background: url('../images/p8/title.png') center center no-repeat;
    background-size:contain;
    width: 100%;
    height: 15%;
    top:13%;
    left: 0;
    position: absolute;    
}
.page8 .text{
  position: absolute;
  width: 100%;
  height: 45%;
  left: 0;
  bottom: 15%;
  text-align: center; 
  display: none; 
}
.page8 .textTop img,
.page8 .textMid img,
.page8 .textBot img{
    height: 30%;
    margin-top: 3%;
    position: relative;
}
.page8 .textTop img{
    width: 85%;
    /*animation: zdFadeIn 1s;*/
}
.page8 .textMid img{
    width: 85%;
    /*animation: zdFadeIn 2s;*/
}
.page8 .textBot img{
    width: 57%;
    /*animation: zdFadeIn 3s;*/
}
@keyframes zdFadeUp{
    0%{
        opacity: 0;
        top:30px;
    }
    20%{
        opacity: 0;
        top:8px;
    }
    100%{
        opacity: 1;
        top:0px;
    }
}
@keyframes zdZoom2{
    0%{
        transform: scale(0.8)
    }
    25%{
        transform: scale(1.2)
    }
    50%{
        transform: scale(0.9)
    }
    100%{
        transform: scale(1)
    }
}


