.page1{
    background: url('../images/bg1.png') 0 0 no-repeat;
    background-size:cover;

}
.container{
    position:relative;
    height: 100%;
}

.page1 .liner{
    background: url('../images/liner-1.png') 0 0 no-repeat;
    background-size:cover;
    position:absolute;
    /*top:calc(90px + 35%);*/
    top:80%;
    left:0;
    height:15%;
    width:100%;
}
.page1 .liner1{
    background: url('../images/liner-1.png') 0 0 no-repeat;
    background-size:cover;
}
.page1 .liner2{
    background: #0a173a;
    /*display: none;*/
}
.page1 .intro{
    position:absolute;
    bottom:10px;
    left:0;
    height:auto;
    width:100%;
}
.page1 .intro .infotext{
    text-align: center;
    color: #fff;
    font-family: "微软雅黑";
    font-size:12px;
    display: none;
}
.page1 .title-top{
    background:url('../images/subintro-1.png') 50% 50% no-repeat;
    background-size:contain;
    height:0;
    /*display: none;*/
}
.page1 .text{
    position:absolute;
    top:15%;
    left:0;
    height:35%;
    width:100%;
    margin-bottom:10px;
}
.page1 .title-mid{
    /*background: url('../images/title-1.png') 50% 50% no-repeat;
    background-size:contain;*/
    height:70%;
    margin:15px 0;
    text-align: center;
    /*display: none;*/
}
.page1 .title-mid img{
    height: 100%;
    animation:title1 2s;
}
@keyframes title1{
    from{
        transform: scale(0.1);opacity:0
    }
    to{
        transform: scale(1);opacity:1
    }
}
@-webkit-keyframes title1{
    from{
        transform: scale(0.1);opacity:0
    }
    to{
        transform: scale(1);opacity:1
    }
}
.page1 .title-bot{
    background: url('../images/subtitle-1.png') 50% 50% no-repeat;
    background-size:contain;
    height:0;
}